<header class="navbar bg-black text-primary-content flex justify-between">
  <div class="flex-1 ml-1">
    <%= image_tag('logo.png', width: 120) %>
  </div>
  <div class="hidden md:flex md:justify-end">
    <ul class="menu menu-horizontal px-1 text-base-200">
      <li><%= link_to '怒りの墓場', "#" %></li>
      <li><%= link_to 'ログイン', login_path %></li>
      <li><%= link_to '新規登録', new_user_path, class: "text-sm btn mx-8 bg-gray-400" %></li>
    </ul>
  </div>
</header>