<div class="hero min-h-screen flex flex-col" style="background-image: url(<%= asset_path('bg_image.jpeg') %>);">
  <div class="hero-content my-14"></div>
    <div class="max-w-7xl text-center">
      <h1 class="animate-text-shadow-pop-br text-4xl font-semibold">マイページ</h1>

      <div class="card w-96 rounded border shadow-2xl bg-black mt-12">
        <div class="card-body">
          <p>プロフィール</p>
          <p>実装中</p>
        </div>
      </div>

      <h2 class="text-xl font-semibold mt-14">ーーーーーーーーーーーーーーーーーーーーーーー あなたのアングリーカード ーーーーーーーーーーーーーーーーーーーーーーー</h2>

      <div class="justify-center flex flex-wrap mt-3">

        
          <% @angry_cards.each do |angry_card| %>
            <div class="p-6">
              <%= link_to angry_card_path(angry_card.id) do %>
                <%= image_tag angry_card.generated_card.url, size: '150x100' %>
              <% end %>
            </div>
        
          <% end %>       
     
      </div>
          
      </div>
    </div>
</div>

<div class="flex justify-start md:justify-center btn-group w-screen m-2"><%= paginate @angry_cards %></div>