<div class="hero min-h-screen bg-cover" style="background-image: url(<%= asset_path('bg_image.jpeg') %>);">
<div class="max-w-7xl justify-center flex flex-wrap">
  <% if @angry_cards.present? %>
    <%= render @angry_cards %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>  
</div>
</div>
<%= paginate @angry_cards %>
