<div class="hero min-h-screen" style="background-image: url(<%= asset_path('bg_colorful.jpg') %>);">
  
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <%= image_tag @angry_card.generated_card.url, size: '300x200' %>
    </div>
  </div>

</div>
    <div class="card-actions justify-center m-5">
      <%= link_to '削除', angry_card_path(@angry_card.id), data: { turbo_method: :delete, turbo_confirm: '削除しますか?' }, class: 'btn btn-danger' %>
    </div>
    <div class="card-actions justify-center m-5">
      <%= link_to '一覧', angry_cards_path(@angry_card) %>
    </div>

 
